<form role="form">
  <input type="hidden" name="card[list_id]" value="<%= list.id %>">
  <div id="new-card-tile">
    <textarea class="form-control"  name="card[content]" id="content" placeholder="A bit of content or whatever." autofocus></textarea>
    <button id="create-card" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Card</button>
  </div>
</form>
