<form role="form">
  <div class="tile board-tile" id="new-board-tile">
    <h1 class="board-header" id="board-title"><input class="form-control" type="text" name="board[title]" value="" id="title" placeholder="Title" autofocus></h1>
    <textarea class="form-control"  name="board[description]" id="description" placeholder="Optional short description."></textarea>
    <button id="create-board" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Board</button>
  </div>
</form>
