<div class="boards col-md-3" id="new-board-tile">
  <div class="tile board-tile">
    <h1 class="board-header"><a href="#" id="new-board"><span class="glyphicon glyphicon-plus"></span></a></h1>
    <p class="board-descrip"></p>
  </div>  
</div>  
