<div class="tile list-tile" id="list-tile">
  <h1 class="list-header"><%= list.escape('title') %></a></h1>
  <div id="card-container">
  </div>
  <div class="delete-x" data-id="<%= list.id %>">
    <a><span class="glyphicon glyphicon-remove"></span></a>
  </div>
</div>
