<form role="form">
  <input type="hidden" name="list[board_id]" value="<%= board.id %>">
  <div class="tile list-tile" id="new-list-tile">
    <h1 class="list-header"><input class="form-control" type="text" name="list[title]" value="" id="title" placeholder="Title" autofocus></h1>
    <button id="create-list" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create List</button>
  </div>
</form>