<div class="lists col-md-3" id="new-list-tile">
  <div class="tile list-tile">
    <h1 class="list-header"><a href="#" id="new-list"><span class="glyphicon glyphicon-plus"></span></a></h1>
    <p class="list-descrip"></p>
  </div>
</div>  
