<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="logo" href="/">Trellino</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="user-nav">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <%= current_user.username.capitalize %>! <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">My Boards</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_url, method: 'delete' %></li>
          </ul>
        </li>
        <% else %>
        <li><a href="<%= new_user_registration_url %>">Sign Up</a></li>
        <li><a href="<%= new_user_session_url %>">Sign In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>